<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    </head>

    <body>
    <!--Add a nav bar here -->
    {% include 'djangoapp/navbar.html' %}

    <!-- Add reviews as cards -->
        <div class="card">
            
        </div>
    </body>
</html>