<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    </head>

    <body>
        <!--Add a nav bar here -->
        {% include 'djangoapp/navbar.html' %}

        <!-- Add reviews as cards -->
        <h1 class="ml-5 mt-5">Reviews for {{name}}</h1>
        <div class="card-group m-3 p-3">
            {% for review in reviews %}
            <div class="card m-5 p-2">
                {% if review.sentiment > 0.5 %}
                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" height="50px" width="50px">
                {% elif review.sentiment < 0.5 %}
                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png" height="50px" width="50px">
                {% else %}
                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png" height="50px" width="50px">
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title">{{review.car_make}}, {{review.car_model}}</h3>
                    <h3 class="card-title">{{review.car_year}}</h3>
                    <p class="card-text">{{review.review}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>