<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
        <!-- jQuery CDN -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    </head>

    <body>
        <!-- Remove this line the first time you edit this file -->
        <!-- This is the index page of your Django app! -->
        
        <!--Add a nav bar here -->
        {% include 'djangoapp/navbar.html' %}

        <!--Add a dealer table here -->
        <table class="table" id="table" data-filter-control="true">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th>Dealer Name</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Zip</th>
                    <th data-field="state" data-filter-control="select">State</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealership_list %}
                    <tr>
                        <td>{{dealer.id}}</td>
                        <td><a href="{% url 'djangoapp:dealer_details' dealer.id dealer.full_name %}">{{dealer.full_name}}</a></td>
                        <td>{{dealer.city}}</td>
                        <td>{{dealer.address}}</td>
                        <td>{{dealer.zip}}</td>
                        <td>{{dealer.st}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
    <script>
        $(function() {
          $('#table').bootstrapTable()
        })
    </script>
</html>